:root{
    --primary-color: #fff;
    --secondary-color: #3a668c;
    --text-color1: #000;
    --text-color2: #545454;
    --text-color3: #fff;
    --background-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color3);
}

body{
    font-family: poppins, sans-serif;
    background-color: var(--background-color);
    max-width: 1300px;
    margin: 0 auto;
}
/* Navbar-section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.2rem;

}
.navbar nav ul{
    display: flex;
    gap: 40px;
    margin-right: 30px;
}
.logo p{
    color: var(--text-color3);
    font-size: 1.5rem;
    margin-left: 30px;
}

/* Hero-section */
.hero-section{
    display: flex;
    justify-content: center;
    gap: 15rem;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-color1);
    height: 700px;

}
.hero-section img{
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}
.hero-section a{
    color: var(--text-color1);
}
.hero-section .intro{
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}
.intro .hello{
    color: var(--text-color2);
    font-size: 1.2rem;
    margin-bottom: -5px;

}
.intro #role{
    color: var(--text-color2);
    font-size: 2rem;
    font-weight: bold;
    margin-top: -5px;
}
.intro h1{
    text-align: center;
    font-size: 4rem;
}
.buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}
.hero-section .intro .button1 {
    background-color: var(--secondary-color);
    padding: 12px 40px;
    border-radius: 30px;
    transition: background-color 0.3s ease;

}
.hero-section .intro .button1 a{
    color: var(--text-color3);
}
.hero-section .intro .button2 {
    background-color: var(--text-color3);
    padding: 12px 24px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--text-color1);
    
}
/* About-section */

.about-me{
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    margin-top: 2rem;
    height: 400px;
}
#about .about-intro{
    text-align: center;
    margin-top: 3rem;
    color: var(--text-color2);
}
#about .about-title{
    text-align: center;
    font-size: 2rem;
}
.about-description{
    max-width: 500px;
    padding: 1rem;
}
.about-image{
    width: 320px;
    height: 320px;
    object-fit: cover;
    border: solid 1px;
    border-radius: 10px;
}
.buttons-about .education,
.buttons-about .experience {
    padding: 12px 24px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    border: 1px solid var(--text-color1);
    text-align: center;
    width: 210px;
}
.buttons-about .education p,
.buttons-about .experience p{
    color: var(--text-color2);
    font-size: 12px;
}
.buttons-about {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: left;
}

/* Skill-section */
#skills{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}
.skills-title{
    text-align: center;
    margin-top: 10rem;
}
.skills-title p{
    color: var(--text-color2);
}
.skills-title h2{
    font-size: 2rem;
}
.skills-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2.5rem 0;
    flex-wrap:wrap;
    max-width: 860px;

}
.skill1, .skill2, .skill3, .skill4, .skill5 {
    display: inline-flex;
    padding: 12px 24px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    align-items: center;
    border: 1.5px solid var(--text-color2);
    font-size: 1.5rem;
    color: var(--text-color2);
    font-weight: bold;
}
.skill1::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(Assets/html-5-svgrepo-com.svg) no-repeat center;
    background-size: contain;
    margin-left: 15px;
}
.skill2::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(Assets/javascript-logo-svgrepo-com.svg) no-repeat center;
    background-size: contain;
    margin-left: 15px;
}
.skill3::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(Assets/css-svgrepo-com.svg) no-repeat center;
    background-size: contain;
    margin-left: 15px;
}
.skill4::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(Assets/node-js-svgrepo-com.svg) no-repeat center;
    background-size: contain;
    margin-left: 15px;
}
.skill5::after{
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(Assets/react-svgrepo-com.svg) no-repeat center;
    background-size: contain;
    margin-left: 15px;
}

/* Project-section */
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
}
.projects-title{
    text-align: center;
    margin-top: 9rem;
}
.projects-title p{
    color: var(--text-color2);
}
.projects-title h2{
    font-size: 2rem;
}

.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;
    flex-wrap: wrap;
}
.projects-container .project{
    background: white;
    border: 1px solid var(--text-color2);
    border-radius: 30px;
    padding: 1.5rem;
    width: 330px;
    height: 430px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.projects-container .project .project-links a:first-child{
    color: var(--text-color1);
    border: 1px solid var(--text-color1);
    padding: 9px 15px;
    border-radius: 25px;
    width:114px;
    text-align: center;

}
.projects-container .project .project-links a:last-child{
    color: var(--text-color3);
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 25px;
    width:115px;
    text-align: center;

}
.project-links{
    display: flex;
    gap: 14px;
    margin-top: 1.2rem;
    justify-content: center;
}
.projects-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}
.projects-images img{
    width: 65%;
    height: auto;
    border-radius: 15px;
}
.project p{
    font-size: 14px;
}

/* contact-section */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8rem;
    gap: 1rem;
}
.contact-title{
    text-align: center;
    margin-top: 9rem;
}
.contact-title p{
    color: var(--text-color2);
}
.contact-title h2{
    font-size: 2rem;
}



.contact-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
    gap: 30px;
}
.contact-form{
    margin-right: 6rem;
}


.contact-form form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.inline{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
.contact-form input, textarea, button{
    font-family: poppins, sans-serif;
    padding: 12px 16px;
    border: 1px solid var(--text-color2);
    border-radius: 10px;
}

.form-outline{
    border: 1px solid var(--text-color2);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    width: 520px;
    border-radius: 10px;
    max-width: 600px;
}
textarea{
    width: 100%;
    height: 120px;
    resize: none;
}
button{
    width: 40%;
    font-size: 15px;
    color: var(--text-color3);
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.contact-info{
    margin-left: 7rem;
    width: 40%;
}

/* Footer-section */
footer{
    background-color: var(--secondary-color);
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    color: var(--text-color3);
}
.icons{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.icons img{
    width: 40px;
    height: 40px;
}